{% extends 'base.html' %}
{% load static %}

{% block title %}Flower Shop - Главная{% endblock %}

{% block body_class %}home{% endblock %}

{% block header_wrapper_class %}mainBg{% endblock %}

{% block extra_css %}
<!-- Подключаем дополнительные стили для букетов -->
<link rel="stylesheet" href="{% static 'css/bouquet-styles.css' %}">
<style>
    /* Дополнительные стили для улучшения пропорций на главной странице */
    #banner {
        padding-bottom: 40px;
        position: relative;
        overflow: hidden;
    }
    .banner {
        padding-top: 30px;
        position: relative;
    }
    .banner__img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        max-height: 600px;
        object-fit: contain;
        object-position: top right;
    }
    .banner__block {
        position: relative;
        z-index: 10;
    }
    #recommended {
        padding: 30px 0 60px;
    }
    .recommended {
        padding: 0 !important;
    }
    .title {
        margin-bottom: 25px;
    }
</style>
{% endblock %}

{% block banner %}
<section id="banner">
	<div class="container">
		<div class="banner">
			<div class="banner__block">
				<h1 class="banner__title">Мастерская цветов</h1>
				<p class="banner__text">Подберем для вас букет за два шага, который идеально подойдет под вашу ситуацию</p>
				<button onclick="location.href='{% url 'quiz' %}'" class="btn banner__btn">Подобрать букет</button>
			</div>
			<img src="{% static 'img/bannerImg.png' %}" alt="banner Img" class="banner__img">
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
<section id="recommended">
	<div class="container">
		<div class="recommended">
			<div class="title">Рекомендуем</div>
			<div class="recommended__elems">
				{% for bouquet in featured_products %}
					<div class="recommended__block bouquet-item" 
						 {% if bouquet.image %}style="background-image: url('{{ bouquet.image.url }}');"{% endif %}>
						<a href="{% url 'bouquet_detail' bouquet.id %}" class="recommended__block_img_link">
							<div class="recommended__block_elems ficb">
								<span class="recommended__block_intro">{{ bouquet.name }}</span>
								<span class="recommended__block_price">{{ bouquet.price|floatformat:0 }} руб</span>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
			<button onclick="location.href='{% url 'catalog' %}'" class="btn recommended__btn">Показать всю коллекцию</button>
		</div>
	</div>
</section>
{% endblock %}

{% block extra_js %}
{% endblock %}
