{% extends 'base.html' %}
{% load static %}

{% block title %}Flower Shop - Подбор букета{% endblock %}

{% block body_class %}show-consultation{% endblock %}

{% block content %}
<section id="quiz" style="padding: 40px 0 80px;">
	<div class="container">
		<div class="quiz">
			<div class="quiz__back" style="padding-top: 20px;">
				<a href="{% url 'index' %}" class="quiz__back_link fic">
					<img src="{% static 'img/arrow-left.svg' %}" alt="arrow-left" class="arrowLeft">
					<span class="quiz__back_intro">Назад</span>
				</a>
			</div>
			<div class="quiz__block">
				<h1 class="quiz__title" style="margin-top: 30px; margin-bottom: 50px;">К какому событию нужен букет?</h1>
				<div class="quiz__elems fic">
					{% for category in categories %}
					<button onclick="location.href='{% url 'quiz_step' category.id %}';" class="quiz__elem">{{ category.name }}</button>
					{% endfor %}
				</div>
				<div class="quiz__progress progress-step-1" style="margin-top: 50px; margin-bottom: 40px;">
					<div class="quiz__progress_step">
						<span class="quiz__progress_num">1</span>
						<span class="quiz__progress_in"> шаг из </span>
						<span class="quiz__progress_num">2</span>
					</div>
					<div class="quiz__progress_line">
						<div class="quiz__progress_lineActive"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}